<div class="mt-4">
    <div class="row">
        <div class="col-lg-3 left-detail-page">
            <button class="btn-secondary">LEANING NOW</button>
        </div>

        <div class="col-lg-9 main-detail-page">
            <h2>{{course.name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.videoId}}?autoplay=1&mute=0" title="{{course.name}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p>{{course.description}}</p>
        </div>

    </div>
</div>
