<div class="mt-4">
      <a href="/home">
     <img src="https://w7.pngwing.com/pngs/1015/257/png-transparent-computer-icons-icon-design-back-miscellaneous-angle-text-thumbnail.png" alt="" class="btn-img">
     </a>
    <div class="row">
        <div class="col-lg-3 left-detail-page">
            <button class="btn-secondary btn-custom2">LEANING NOW</button>
        </div>

        <div class="col-lg-9 main-detail-page">
            <h2>{{course.name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.videoId}}?autoplay=1&mute=0" title="{{course.name}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p>{{course.description}}</p>
        </div>

    </div>
</div>
